*.pth
*.t7
output/*
.idea
experiments/*
logs/*
.venv/
__pycache__/
output_pytorch/
input/
output_int/
input/content/etc/
input/content/game_tile/
input/style/etc/
input/style/spring/
input/style/summer/
input/style/fall/
input/style/winter/
